.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }

.modal {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 40px;
    border: gray solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 40px 40px 40px 40px;
}

.login-logo {
    position: absolute;
    border-radius: 40px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #2b6777;
}

.login-logo-text-1 {
    display: inline;
    font-family: "Poppins","Roboto Light", sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    color: #52ab89;
    text-align: right;
    margin: 5px 0 5px 10px;
}

.login-logo-text-2 {
    display: inline;
    font-family: "Poppins", "Roboto Light", sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    color: white;
    margin: 5px 10px 5px 0;
}

.login-title-section {
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

.login-title {
    font-family: "Poppins", "Roboto Light", sans-serif;
    font-size: 28px;
    color: black;
    margin-bottom: 0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto Light", sans-serif;
}

.modal .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: gray solid 3px;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 45px;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.input-box img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.modal .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px
}

.remember-forgot label input {
    accent-color: #d2d2d2;
    margin-right: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}

.remember-forgot label {
    font-weight: 600;
}

.remember-forgot a {
    color: #52ab89;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: #2b6777;
}

.modal .login-confirm {
    width: 100%;
    height: 45px;
    background: white;
    border: gray solid 3px;
    border-radius: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: 600;
}

.modal .register {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

.register-link {
    color: #52ab89;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.register p {
    font-weight: 600;
}

.register-link:hover {
    color: #2b6777;
    text-decoration: underline;
}
