.nav-footer {
    max-width: 1360px;
    display: flex;
    justify-content: space-around;
    background-color: #2b6777;
    align-items: center;
}

.footer-item {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Poppins", "Roboto Light", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-item:hover {
    color: #52ab89;
}

.footer-item:active {
    color: #52ab89
}

.login-modal {
    display: block;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr;
}